Repository ucsb-cs156-f23/team03-f23-6pm-4, pull requests merged in 2023-11, with the labels that each got.

#62 Copied over backend routes for Articles from team02
  src/main/java/edu/ucsb/cs156/example/controllers/ArticlesController.java
  src/main/java/edu/ucsb/cs156/example/entities/Articles.java
  src/main/java/edu/ucsb/cs156/example/repositories/ArticlesRepository.java
  src/test/java/edu/ucsb/cs156/example/controllers/ArticlesControllerTests.java
Labels: Articles

#63 Copied UCSBDiningHallsMenuItem files from team02
  src/main/java/edu/ucsb/cs156/example/controllers/UCSBDiningCommonsMenuItemController.java
  src/main/java/edu/ucsb/cs156/example/entities/UCSBDiningCommonsMenuItem.java
  src/main/java/edu/ucsb/cs156/example/repositories/UCSBDiningCommonsMenuItemRepository.java
  src/test/java/edu/ucsb/cs156/example/controllers/UCSBDiningCommonsMenuItemControllerTests.java
Labels: UCSBDiningCommonsMenuItem

#65 Created UCSB Dining Commons Menu Item fixtures
  frontend/src/fixtures/ucsbDiningCommonsMenuItemFixtures.js
Labels: UCSBDiningCommonsMenuItem

#68 do - Add Fixtures for MenuItemReviews
  frontend/src/fixtures/menuItemReviewFixtures.js
Labels: MenuItemReview

#73 Copied Recommendation Requests backend CRUD API files from team02
  src/main/java/edu/ucsb/cs156/example/controllers/RecommendationRequestController.java
  src/main/java/edu/ucsb/cs156/example/entities/RecommendationRequest.java
  src/main/java/edu/ucsb/cs156/example/repositories/RecommendationRequestRepository.java
  src/test/java/edu/ucsb/cs156/example/controllers/RecommendationRequestControllerTests.java
Labels: RecommendationRequest

#76 Added fixtures for recommendation requests
  frontend/src/fixtures/recommendationRequestFixtures.js
Labels: RecommendationRequest

#66 Added fixture examples for Articles
  frontend/src/fixtures/articlesFixtures.js
Labels: Articles

#67 Placeholder pages for Articles
  frontend/src/App.js
  frontend/src/main/components/Nav/AppNavbar.js
  frontend/src/main/pages/Articles/ArticlesCreatePage.js
  frontend/src/main/pages/Articles/ArticlesEditPage.js
  frontend/src/main/pages/Articles/ArticlesIndexPage.js
  frontend/src/tests/pages/Articles/ArticlesCreatePage.test.js
  frontend/src/tests/pages/Articles/ArticlesEditPage.test.js
  frontend/src/tests/pages/Articles/ArticlesIndexPage.test.js
Labels: Articles

#69 do - Add MenuItemReviewForm and tests
  frontend/src/main/components/MenuItemReviews/MenuItemReviewForm.js
  frontend/src/stories/components/MenuItemReviews/MenuItemReviewForm.stories.js
  frontend/src/tests/components/MenuItemReviews/MenuItemReviewForm.test.js
Labels: MenuItemReview

#72 do - Menu Item Review Copy Placeholder
  frontend/src/App.js
  frontend/src/main/components/Nav/AppNavbar.js
  frontend/src/main/pages/MenuItemReview/MenuItemReviewCreatePage.js
  frontend/src/main/pages/MenuItemReview/MenuItemReviewEditPage.js
  frontend/src/main/pages/MenuItemReview/MenuItemReviewIndexPage.js
  frontend/src/tests/pages/MenuItemReview/MenuItemReviewCreatePage.test.js
  frontend/src/tests/pages/MenuItemReview/MenuItemReviewEditPage.test.js
  frontend/src/tests/pages/MenuItemReview/MenuItemReviewIndexPage.test.js
Labels: MenuItemReview

#75 do - Add Table for Menu Item Review
  frontend/src/main/components/MenuItemReviews/MenuItemReviewTable.js
  frontend/src/main/utils/menuItemReviewUtils.js
  frontend/src/stories/components/MenuItemReviews/MenuItemReviewTable.stories.js
  frontend/src/tests/components/MenuItemReviews/MenuItemReviewTable.test.js
  frontend/src/tests/utils/menuItemReviewUtils.test.js
Labels: MenuItemReview

#84 Form component and tests for Recommendation Request
  frontend/src/main/components/RecommendationRequest/RecommendationRequestForm.js
  frontend/src/stories/components/RecommendationRequest/RecommendationRequestForm.stories.js
  frontend/src/tests/components/RecommendationRequest/RecommendationRequestForm.test.js
Labels: RecommendationRequest

#81 Shuyi help request form component
  frontend/src/fixtures/helpRequestFixtures.js
  frontend/src/main/components/HelpRequest/HelpRequestForm.js
  frontend/src/stories/components/HelpRequest/HelpRequestForm.stories.js
  frontend/src/tests/components/HelpRequest/HelpRequestForm.test.js
Labels: HelpRequest

#71 Form Component for Articles plus tests
  frontend/src/fixtures/articlesFixtures.js
  frontend/src/main/components/Articles/ArticlesForm.js
  frontend/src/stories/components/Articles/ArticlesForm.stories.js
  frontend/src/tests/components/Articles/ArticlesForm.test.js
Labels: Articles

#74 Copied UCSBOrganization files from team02
  src/main/java/edu/ucsb/cs156/example/controllers/UCSBOrganizationController.java
  src/main/java/edu/ucsb/cs156/example/entities/UCSBOrganization.java
  src/main/java/edu/ucsb/cs156/example/repositories/UCSBOrganizationRepository.java
  src/test/java/edu/ucsb/cs156/example/controllers/UCSBOrganizationControllerTests.java
Labels: UCSBOrganization

#78 Added Fixtures for UCSBOrganization
  frontend/src/fixtures/ucsbOrganizationFixtures.js
Labels: UCSBOrganization

#80 do - Add Menu Item Review Index Page with Tests
  frontend/src/main/pages/MenuItemReview/MenuItemReviewIndexPage.js
  frontend/src/stories/pages/MenuItemReview/MenuItemReviewIndexPage.stories.js
  frontend/src/tests/pages/MenuItemReview/MenuItemReviewIndexPage.test.js
Labels: MenuItemReview

#103 cs - #10 created UCSBDiningCommonsMenuItem form component
  frontend/src/main/components/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemForm.js
  frontend/src/stories/components/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemForm.stories.js
  frontend/src/tests/components/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemForm.test.js
Labels: UCSBDiningCommonsMenuItem

#82 Shuyi added HelpRequest table component
  frontend/src/main/components/HelpRequest/HelpRequestTable.js
  frontend/src/main/utils/HelpRequestUtils.js
  frontend/src/stories/components/HelpRequest/HelpRequestTable.stories.js
  frontend/src/tests/components/HelpRequest/HelpRequestTable.test.js
  frontend/src/tests/utils/HelpRequestUtils.test.js
Labels: HelpRequest

#86 do - Create Page for Menu Item Review
  frontend/src/main/pages/MenuItemReview/MenuItemReviewCreatePage.js
  frontend/src/stories/pages/MenuItemReview/MenuItemReviewCreatePage.stories.js
  frontend/src/tests/pages/MenuItemReview/MenuItemReviewCreatePage.test.js
  src/main/java/edu/ucsb/cs156/example/controllers/MenuItemReviewCotroller.java
  src/main/java/edu/ucsb/cs156/example/entities/MenuItemReview.java
  src/test/java/edu/ucsb/cs156/example/controllers/MenuItemReviewControllerTests.java
Labels: MenuItemReview

#91 Shuyi help request index page
  frontend/src/App.js
  frontend/src/main/pages/HelpRequest/HelpRequestIndexPage.js
  frontend/src/stories/pages/HelpRequest/HelpRequestIndexPage.stories.js
  frontend/src/tests/pages/HelpRequest/HelpRequestIndexPage.test.js
Labels: HelpRequest

#90 Add Placeholder pages for Recommendation Requests
  frontend/src/App.js
  frontend/src/main/components/Nav/AppNavbar.js
  frontend/src/main/pages/RecommendationRequest/RecommendationRequestCreatePage.js
  frontend/src/main/pages/RecommendationRequest/RecommendationRequestEditPage.js
  frontend/src/main/pages/RecommendationRequest/RecommendationRequestIndexPage.js
  frontend/src/tests/pages/RecommendationRequest/RecommendationRequestCreatePage.test.js
  frontend/src/tests/pages/RecommendationRequest/RecommendationRequestEditPage.test.js
  frontend/src/tests/pages/RecommendationRequest/RecommendationRequestIndexPage.test.js
Labels: RecommendationRequest

#95 do - Menu Item Review Edit Page
  frontend/src/main/pages/MenuItemReview/MenuItemReviewEditPage.js
  frontend/src/stories/pages/MenuItemReview/MenuItemReviewEditPage.stories.js
  frontend/src/tests/pages/MenuItemReview/MenuItemReviewEditPage.test.js
Labels: MenuItemReview

#98 Create Page for Recommendation Requests with tests and stories
  frontend/src/App.js
  frontend/src/main/pages/RecommendationRequest/RecommendationRequestCreatePage.js
  frontend/src/stories/pages/RecommendationRequest/RecommendationRequestCreatePage.stories.js
  frontend/src/tests/pages/RecommendationRequest/RecommendationRequestCreatePage.test.js
Labels: RecommendationRequest

#100 Index page for Recommendation Requests with stories and tests
  frontend/src/main/pages/RecommendationRequest/RecommendationRequestCreatePage.js
  frontend/src/main/pages/RecommendationRequest/RecommendationRequestIndexPage.js
  frontend/src/stories/pages/RecommendationRequest/RecommendationRequestIndexPage.stories.js
  frontend/src/tests/pages/RecommendationRequest/RecommendationRequestIndexPage.test.js
Labels: RecommendationRequest

#101 Edit Page for Recommendation Request including stories and tests
  frontend/src/main/pages/RecommendationRequest/RecommendationRequestEditPage.js
  frontend/src/main/pages/RecommendationRequest/RecommendationRequestIndexPage.js
  frontend/src/stories/pages/RecommendationRequest/RecommendationRequestEditPage.stories.js
  frontend/src/tests/pages/RecommendationRequest/RecommendationRequestEditPage.test.js
Labels: RecommendationRequest

#104 Added UCSBDiningCommonsMenuItem table and tests
  frontend/src/main/components/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemTable.js
  frontend/src/main/utils/UCSBDiningCommonsMenuItemUtils.js
  frontend/src/stories/components/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemTable.stories.js
  frontend/src/tests/components/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemTable.test.js
  frontend/src/tests/utils/UCSBDiningCommonsMenuItemUtils.test.js
Labels: UCSBDiningCommonsMenuItem

#105 Copied placeholders for UCSBDiningCommonsMenuItem
  frontend/src/App.js
  frontend/src/main/components/Nav/AppNavbar.js
  frontend/src/main/pages/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemCreatePage.js
  frontend/src/main/pages/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemEditPage.js
  frontend/src/main/pages/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemIndexPage.js
  frontend/src/tests/pages/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemCreatePage.test.js
  frontend/src/tests/pages/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemEditPage.test.js
  frontend/src/tests/pages/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemIndexPage.test.js
Labels: UCSBDiningCommonsMenuItem

#108 Copy Placeholders for UCSBOrganization pages; add to App.js/AppNavbar.js
  frontend/src/App.js
  frontend/src/main/components/Nav/AppNavbar.js
  frontend/src/main/pages/UCSBOrganization/UCSBOrganizationCreatePage.js
  frontend/src/main/pages/UCSBOrganization/UCSBOrganizationEditPage.js
  frontend/src/main/pages/UCSBOrganization/UCSBOrganizationIndexPage.js
  frontend/src/tests/pages/UCSBOrganization/UCSBOrganizationCreatePage.test.js
  frontend/src/tests/pages/UCSBOrganization/UCSBOrganizationEditPage.test.js
  frontend/src/tests/pages/UCSBOrganization/UCSBOrganizationIndexPage.test.js
Labels: UCSBOrganization

#106 cs - #13 added create page for UCSBDiningCommonsMenuItem and tests
  frontend/src/App.js
  frontend/src/main/pages/HelpRequest/HelpRequestCreatePage.js
  frontend/src/main/pages/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemCreatePage.js
  frontend/src/stories/pages/MenuItemReview/HelpRequestIndexPage.stories.js
  frontend/src/stories/pages/MenuItemReview/UCSBDatesEditPage.stories.js
  frontend/src/stories/pages/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemCreatePage.stories.js
  frontend/src/tests/pages/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemCreatePage.test.js
Labels: UCSBDiningCommonsMenuItem

#111 cs - #14 Created UCSBDiningCommonsMenuItem Index Page
  frontend/src/main/pages/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemIndexPage.js
  frontend/src/stories/pages/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemIndexPage.stories.js
  frontend/src/tests/pages/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemIndexPage.test.js
Labels: UCSBDiningCommonsMenuItem

#113 cs - #15 created UCSBDiningCommonsMenuItem edit page
  frontend/src/main/pages/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemEditPage.js
  frontend/src/stories/pages/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemEditPage.stories.js
  frontend/src/tests/pages/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemCreatePage.test.js
  frontend/src/tests/pages/UCSBDiningCommonsMenuItem/UCSBDiningCommonsMenuItemEditPage.test.js
Labels: UCSBDiningCommonsMenuItem

#89 ArticlesCreatePage with tests and stories
  frontend/src/main/pages/Articles/ArticlesCreatePage.js
  frontend/src/stories/components/Articles/ArticlesCreatePage.stories.js
  frontend/src/tests/pages/Articles/ArticlesCreatePage.test.js
Labels: Articles

#116 fixed typo in HelpRequestForm about solved
  frontend/src/main/components/HelpRequest/HelpRequestForm.js
Labels: HelpRequest

#115 sg - #28 - fixed boolean (done) to be displayed
  frontend/src/main/components/RecommendationRequest/RecommendationRequestTable.js
Labels: RecommendationRequest
